html{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

.bar {
  height: 100%;
  display: flex;
  align-items: center;      /* Vertically center everything */
  justify-content: space-between;
  padding: 0 6px;
  box-sizing: border-box;
  gap: 10px;
}

.bar p {
  margin: 0;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
}

.icon {
  border-radius: 5px;
  padding: 5px;
  height: 60%;
  display: block;
}

.icon:hover{
  background-color: hsl(0, 0%, 48%, 0.7);
}

p{
  scale: 1.7;
  color: rgb(255, 255, 255);
  user-select: none;
  margin-bottom: 15px;
  border-radius: 5px;
}

.cross-box{
  padding: 5px;
  border-radius: 5px;
  width: 15px;
}

#setting-btn{
  right: 45px;
}